/* お買い物リスト画面全体 */
.order__main-body{
  min-height: calc(100vh - 40px - 20px - 30px);
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* お買い物リスト画面ナビバー */
.order-nav-bar{
  height: 30px;
  line-height: 30px;
  background-color: rgb(218, 247, 218);
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.order-nav-bar__title-text, .order-nav-bar__link{
  color: darkslateblue;
  text-shadow: 1px 1px 1px white;
  font-family: 'BIZ UDPGothic', sans-serif;
  text-decoration: none;
}

.order-nav-bar__title-text{
  font-size: 18px;
  font-weight: bold;
}

.order-nav-bar__links{
  display: flex;
}

.order-nav-bar__link{
  font-size: 14px;
  margin-left: 15px;
}

/* お買い物リストナビを除く画面 */
.order__wrapper{
  min-height: calc(100vh - 40px - 20px - 30px - 30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.order__form{
  overflow: auto;
}

.new-order__wrapper{
  min-height: calc(100vh - 40px - 20px - 30px - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* アイテム数が2つのときに左寄せにする設定 */
.order__wrapper:after{
  content: "";
  display: block;
  width: calc(100% / 3 - 20px);
  height: 0;
  margin: 10px;
}

/* スマホ表示時 */
@media (max-width: 599px) {

  /* お買い物リスト画面全体 */
  .order__main-body{
    min-height: calc(100vh - 40px - 20px - 100px);
  }

  /* お買い物リスト画面ナビバー */
  .order-nav-bar{
    height: 100px;
    display: flex;
    align-items: center;
  }

  .order-nav-bar__title-text{
    font-size: 14px;
  }

  .order-nav-bar__links{
    flex-direction: column;
  }

  .order-nav-bar__link{
    font-size: 12px;
  }

  /* お買い物リストナビを除く画面 */
  .order__wrapper, .new-order__wrapper{
    min-height: calc(100vh - 40px - 20px - 100px - 100px);
  }

}