/* ヘッダー・フッターを除く画面全体 */
.wrapper{
  height: calc(100vh - 40px - 20px);
  display: flex;
}

/* サイドバーの設定 */

/* グループリストの表示 */
.wrapper__side-bar{
  width: 200px;
  background-color: lemonchiffon;
  padding: 15px 30px 0;
  overflow: auto;
  text-align: center;
}

/* タイトル・グループ名の共通設定 */
.wrapper__side-bar-title, .wrapper__side-bar-name{
  color: darkslateblue;
  text-shadow: 1px 1px 1px white;
  font-weight: bold;
  margin-bottom: 10px;
}

/* タイトル単独の設定 */
.wrapper__side-bar-title{
  font-size: 20px;  
  border-bottom: double;
}

/* グループ名単独の設定 */
.wrapper__side-bar-name{
  font-size: 18px;
  text-decoration: none;
  line-height: 30px;
  letter-spacing: 5px;  
  display: block;
  background: linear-gradient(transparent 60%, #ddaf16 60%);
}

/* サイドバーを除く画面の設定 */
.wrapper__main{
  height: calc(100vh - 40px - 20px);
  width: calc(100vw - 200px);
}

/* グループナビバーの設定 */
.wrapper__main-head{
  height: 30px;
  line-height: 30px;
  background-color: lightyellow;
  display: flex;
  justify-content: end;
  padding-right: 40px;
}

/* グループ名・グループ作成リンクの共通設定 */
.wrapper__current-group, .wrapper__main-link{
  color: darkslateblue;
  text-shadow: 1px 1px 1px white;
  text-decoration: none;
}

/* グループ名単独の設定 */
.wrapper__current-group{
  font-size: 18px;
  font-weight: bold;
}

/* グループ作成リンク単独の設定 */
.wrapper__main-link{
  font-size: 16px;
  margin-left: 30px;
}

/* サイドバー・グループナビバーを除く画面の設定 */
.wrapper__main-body{
  height: calc(100vh - 40px - 20px - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* スマホ表示時 */
@media (max-width: 599px) {

  /* サイドバーの設定 */

  /* グループリストの表示 */
  .wrapper__side-bar{
    width: 100px;
    padding: 30px 5px;
  }

  /* タイトル・グループ名の共通設定 */
  .wrapper__side-bar-title, .wrapper__side-bar-name{
    margin-bottom: 20px;
  }

  /* グループ名単独の設定 */
  .wrapper__side-bar-name{
    letter-spacing: 1px;
  }

  /* サイドバーを除く画面の設定 */
  .wrapper__main{
    width: calc(100vw - 100px);
  }

  /* グループナビバーの設定 */
  .wrapper__main-head{
    height: 100px;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
  }

  /* グループ名単独の設定 */
  .wrapper__current-group{
    font-size: 16px;
  }

  /* グループ作成リンク単独の設定 */
  .wrapper__main-link{
    font-size: 14px;
    margin-left: 0px;
  }

  /* サイドバー・グループナビバーを除く画面の設定 */
  .wrapper__main-body{
    height: calc(100vh - 40px - 20px - 100px);
  }

}