<div class="main__wrapper">
  <div class="main__section">
    
    <div class="add-members__section">
      <p class="add-members__title">メンバーリスト</p>
      <% @members.each do |member| %>
        <ul class="add-members__name">
          <li><%= "#{member.nickname} : #{member.email}" %></li>
        </ul>
      <% end %>
      <ul class="actions">
        <li><%= link_to 'このメンバーとグループを作成', new_group_path, class:"add-members__link" %></li>
        <li><%= link_to '他のユーザーも検索する', search_users_path, class:"return-link" %></li>
      </ul>
    </div>

  </div>
  <%# <%= render partial: 'list' %> %>
</div>