<div class="wrapper">
  <div class="wrapper__side-bar">
    <%= render partial: 'lists' %>
  </div>

  <div class="wrapper__main">
    <%= render partial: 'create_group_link' %>
    <div class="wrapper__main-body">
      <p class="group-wrapper__main-text">家族や友達と、買いたいものを共有しよう！</p>
    </div>
  </div>

</div>