<div class="main__wrapper">
  <div class="main__section">

    <div class="group__message">
      <p>ようこそ、<%= current_user.nickname %>さん！</p>
      <p>家族や友達と買い物リストを共有しよう！</p>
    </div>
    
  </div>
  <%# <%= render partial: 'list' %> %>
</div>