/* ヘッダー全体 */
.header{
  height: 40px;
  width: 100vw;
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

/* タイトル部分 */
.header__title{
  height: 40px;
  line-height: 40px;
}

.header__title-text{
  color: darkslateblue;
  text-shadow: 1px 1px 1px white;
  font-size: 25px;
  text-decoration: none;
  font-family: 'Prata', serif;
  letter-spacing: 1px;
}

/* ユーザー名表示部分 */
.header__nav{
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-link{
  color: darkslateblue;
  text-shadow: 1px 1px 1px white;
  font-size: 16px;
  text-decoration: none;
  font-family: 'BIZ UDPGothic', sans-serif;
  letter-spacing: 1px;
  margin-left: 30px;
}

/* スマホ表示時 */
@media (max-width: 599px) {

  /* ヘッダー全体 */
  .header{
    padding: 0 20px;
  }

  .header__title-text{
    font-size: 21px;
  }

  .header__nav-link{
    font-size: 16px;
    margin-left: 15px;
  }

}