/* ユーザー検索結果表示ページ */
.add-members__form{
  background-color: rgb(249, 223, 238);
  border-radius: 5px;
  padding: 20px;
  font-size: 16px;
}

.add-members__title{
  text-align: center;
}

.add-members__name{
  margin-top: 15px;
  list-style: inside;
}

.add-members__actions{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.add-members__actions li{
  margin-top: 25px;
}

.add-members__btn{
  font-family: 'BIZ UDPGothic', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 15px;
  background-color: skyblue;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid;
}

.add-members__return-btn{
  font-family: 'BIZ UDPGothic', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 15px;
  background-color: skyblue;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid;
}