/* グループ作成へのリンク */
.group-wrapper__main-link{
  text-decoration: none;
  margin-left: 30px;
}

/* メインテキスト */
.group-wrapper__main-text{
  font-size: 22px;
  color: darkslateblue;
  font-family: 'BIZ UDPGothic', sans-serif;
}