/* グループ名入力画面 */
.create-group__form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.create-group__member-list{
  margin-bottom: 20px;
  background-color: rgb(249, 223, 238);
  border-radius: 5px;
  padding: 20px;
}

.create-group__text{
  font-size: 18px;
  text-align: center;
}

.create-group__member-name{
  margin-top: 15px;
  font-size: 18px;
}

.create-group__member-name li{
  list-style: inside;
}

.create-group__input{
  margin-bottom: 20px;
  background-color: rgb(249, 223, 238);
  border-radius: 5px;
  padding: 10px 20px;
}

.create-group__field{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.create-group__text{
  font-size: 16px;
}

.create-group__input-name{
  font-size: 16px;
}

.create-group__field{
  width: 100%;
  font-size: 15px;
  margin: 20px 0 10px;
}

.create-group__actions{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.create-group__btn{
  font-family: 'BIZ UDPGothic', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 15px;
  background-color: skyblue;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid;
  margin-bottom: 10px;
}

.create-group__return-btn{
  font-family: 'BIZ UDPGothic', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 15px;
  background-color: skyblue;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid;
}