/* グループ名入力画面 */
.create-group__form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* メンバーリスト表示フォーム */
.create-group__member-list{
  background-color: rgb(249, 223, 238);
  border-radius: 5px;
  padding: 20px 30px;
  margin-bottom: 10px;
  font-size: 16px;
}

.create-group__member-name{
  margin-top: 15px;
}

.create-group__member-name li{
  list-style: inside;
}

/* グループ名入力フォーム */
.create-group__field{
  background-color: rgb(249, 223, 238);
  border-radius: 5px;
  padding: 20px 30px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.create-group__input{
  font-size: 15px;
  margin-bottom: 10px;
}

.create-group__btn, .create-group__return-btn{
  font-family: 'BIZ UDPGothic', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 15px;
  background-color: skyblue;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid;
}