/* グループ詳細画面 */

/* グループ詳細フォーム外枠 */
.group-detail{
  padding: 10px 40px 20px;
  background-color: rgb(249, 223, 238);
  border-radius: 10px;
}

/* グループ詳細フォーム内側 */

/* グループ名・メンバー・コンテンツ共通設定 */
.group-detail__name, .group-detail__members, .group-detail__link{
  color: darkslateblue;
}

/* グループ名 */
.group-detail__name{
  text-shadow: 1px 1px 1px white;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 2px;
  background: linear-gradient(transparent 60%, #ddaf16 60%);
}

/* メンバー・コンテンツ・編集リンク */
.group-detail__members, .group-detail__contents, .group-detail__edit{
  font-size: 16px;
  margin-top: 20px;
}

.group-detail__members{
  font-weight: bold;
}

.group-detail__contents, .group-detail__edit{
  list-style: inside;
}

.group-detail__contents li, .group-detail__edit li{
  margin-bottom: 5px;
}

.group-detail__link{
  text-decoration: none;
}