/* グループ詳細画面 */
.group-detail{
  padding: 10px 30px 20px;
  background-color: rgb(249, 223, 238);
  border-radius: 10px;
}

.group-detail__name, .group-detail__members, .group-detail__link{
  color: darkslateblue;
}

.group-detail__name{
  text-shadow: 1px 1px 1px white;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 5px;
  background: linear-gradient(transparent 60%, #ddaf16 60%);
  margin-bottom: 20px;
}

.group-detail__members{
  margin-bottom: 20px;
}

.group-detail__contents{
  margin-bottom: 20px;
  list-style: inside;
}

.group-detail__edit{
  list-style: inside;
}

.group-detail__contents li, .group-detail__edit li{
  margin-bottom: 5px;
}

.group-detail__link{
  text-decoration: none;
}