/* 編集フォーム外枠 */
.edit-item__form{
  background-color: rgb(249, 223, 238);
  border-radius: 5px;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* 編集フォーム内部 */
.edit-item__title{
  color: darkslateblue;
  text-shadow: 1px 1px 1px white;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}

.edit-item__btn, .edit-item__delete-btn{
  font-family: 'BIZ UDPGothic', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 15px;
  background-color: skyblue;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid;
}

.edit-item__delete-btn{
  background-color: red;
}