/* 在庫編集フォームを中心に持ってくる */
.edit-item__container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 編集フォームの中身を中央揃えにする */
.edit-item__form{
  background-color: rgb(249, 223, 238);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.edit-item__title{
  font-size: 20px;
  margin-bottom: 15px;
  color: darkslateblue;
  text-shadow: 1px 1px 1px white;
  font-weight: bold;
}

.edit-item__field{
  font-size: 16px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.edit-item__input{
  margin-top: 5px;
}

.edit-item__btn, .edit-item__delete-btn{
  font-family: 'BIZ UDPGothic', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 15px;
  background-color: skyblue;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid;
}

.edit-item__delete-btn{
  background-color: red;
}