/* ユーザー検索ページ */

/* タイトル  */
.search-user__title{
  font-size: 20px;
  font-family: 'BIZ UDPGothic', sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

/* 入力フォーム外枠 */
.search-user__form{
  background-color: rgb(249, 223, 238);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 30px;
}

/* 入力フォーム内 */
.search-user__field{
  font-size: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
}

.search-user__input{
  width: 50%;
  font-size: 15px;
}

.search-user__btn{
  height: 30px;
  font-family: 'BIZ UDPGothic', sans-serif;
  font-size: 15px;
  background-color: skyblue;
  padding: 0 10px;
  border-radius: 5px;
}