/* ヘッダー・フッターを除く画面全体 */
.sign-up-wrapper, .sign-in-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 40px - 20px);
}

/* 新規登録・ログインのタイトル */
.sign-up-title, .sign-in-title{
  font-size: 25px;
  font-family: 'BIZ UDPGothic', sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

/* 入力フォーム外枠 */
.new_user{
  background-color: rgb(249, 223, 238);
  border-radius: 10px;
  padding: 20px 30px;
}

/* 入力フォーム内部 */
.field{
  font-size: 16px;
  font-family: 'BIZ UDPGothic', sans-serif;
  margin-bottom: 15px;
}

.sign-up-form, .sign-in-form{
  width: 100%;
  font-size: 15px;
  margin-top: 5px;
}

.actions{
  display: flex;
  justify-content: center;
}

.sign-up-btn, .sign-in-btn{
  font-size: 15px;
  font-family: 'BIZ UDPGothic', sans-serif;
  height: 30px;
  padding: 5px;
  background-color: skyblue;
  border-radius: 5px;
}

/* エラーメッセージ */
.flash-message{
  text-align: center;
  margin-bottom: 5px;
  color: red;
}

/* スマホ表示時 */
@media (max-width: 599px) {

  /* 新規登録・ログインのタイトル */
  .sign-up-title, .sign-in-title{
    font-size: 23px;
  }

  /* 入力フォーム外枠 */
  .new_user{
    padding: 15px 25px;
  }

  /* 入力フォーム内部 */
  .field{
    font-size: 14px;
    margin-bottom: 13px;
  }

  .sign-up-form, .sign-in-form{
    font-size: 13px;
  }

  .sign-up-btn, .sign-in-btn{
    font-size: 13px;
    height: 28px;
  }

}